body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1em;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

/* Nouveau style pour la mise en page du diaporama et du calendrier */
.container {
    display: flex;               /* Utilisation de flexbox pour disposer les éléments côte à côte */
    justify-content: space-around; /* Espace entre les éléments */
    margin: 20px;              /* Marge autour du conteneur */
}

.slideshow-container {
    max-width: 50%;            /* Limiter la largeur à 50% de la fenêtre */
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

img {
    vertical-align: middle;
    width: 100%;               /* Rendre l'image responsive */
    height: auto;              /* Garder les proportions de l'image */
}

/* Animation de défilement en fondu */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from { opacity: 0.4; }
    to { opacity: 1; }
}

/* Boutons de navigation */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

/* Modifier l'opacité des boutons au survol */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

#calendar {
    max-width: 600px; /* Ajustez la largeur selon vos besoins */
    margin: auto; /* Centrer le calendrier */
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}
