body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}


header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1em;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

/* Style général du conteneur de diaporama */
.slideshow-container {
    max-width: 100%;          /* Prend toute la largeur disponible */
    height: 100vh;            /* Prend toute la hauteur visible de la fenêtre */
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

img {
    width: 100%;              /* Prend toute la largeur du conteneur */
    height: 100%;             /* Prend toute la hauteur du conteneur */
    object-fit: contain;      /* Ajuste l'image pour qu'elle soit entièrement visible sans distorsion */
    display: block;
    margin: auto;
}

/* Animation de défilement en fondu */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from { opacity: 0.4; }
    to { opacity: 1; }
}

/* Boutons de navigation */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

/* Modifier l'opacité des boutons au survol */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}
